!!!
%html
  %head
    %title Preadly - Madlibs
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body
    .container
      = render "application/notice", {notice: flash[:notice]} if flash[:notice]
      = yield

    = javascript_include_tag "application"
